__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.env
.initial-admin-password
*.db
*.sqlite3
.DS_Store
.idea/
backups/
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json
